@import "styles/mixins";

// =----------------- HERO SECTION -----------------=
.hero {
  margin-top: 110px;
}

.hero__content {
  @include container;
  @include flex-between(center);
}

.hero__content_info_title {
  > h1 {
    font-weight: 700;
    font-size: 144px;
    color: var(--red);
    line-height: 1;
  }

  > h2 {
    font-weight: 800;
    font-size: 160px;
    color: #ADADAD;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.hero__content_info {
  > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 131.4%;
    @include maxWidth(633);
    margin-bottom: 18px;
  }

  > p {
    @include maxWidth(505);
    font-weight: 400;
    font-size: 18px;
    line-height: 140.9%;
    margin-bottom: 28px;
    margin-top: 22px;
  }


  > button {
    @include btn_primary;
    padding-inline: 36px;
  }
}

// =------------------ ABOUT SECTION ----------------=
.about__content {
  @include container;
  @include flex-center;
  margin-top: 60px;
}

.about__content_item {
  width: 25%;
  @include flex(center, flex-start);
  flex-direction: column;
  > div {
    color: var(--black);
    font-weight: 700;
    font-size: 20px;
    line-height: 140.9%;
    text-transform: uppercase;
    margin-top: 24px;
    > span {
      color: #EB3A2D;
    }
  }
}

// =---------------- METHODOLOGY SECTION ------------=
.methodology {
  @include container;
  margin-top: 200px;
}

.methodology__content {
  @include flex-between(flex-start);
  margin-bottom: 32px;
}

.methodology__content_info {
  @include maxWidth(616);

  > h2 {
    margin-bottom: 12px;
  }

  > p {
    margin-top: 36px;
  }
}

// =---------------- LESSONS SECTION ----------------=
.lessons {
  @include container;
  margin-top: 60px;
}

.lessons__content {
  @include flex-between(center);
}

.lessons__content_info {
  @include maxWidth(873);

  > h2 {
    margin-bottom: 12px;
  }

  > p {
    margin-top: 12px;
  }
}

.lessons__content_img {
  @include flex-start(flex-end);
  > span {
    font-weight: 800;
    font-size: 273px;
    line-height: 70%;
    color: var(--red);
  }

  > h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 131.4%;

    > span {
      color: var(--red);
      font-weight: 700;
    }
  }
}

.lessons__content_btns {
  padding-top: 80px;
  @include flex-between(center);
  gap: 30px;
  > button {
    @include btn_gray;
    flex: 1 1 33%;
  }

  > button:last-child {
    @include btn_primary;
    background:  linear-gradient(93.94deg, #0B0B0B 31.28%, #D94343 31.28%, #E84747 50.63%, #E84A47 68.67%, #F8C02E 68.7%) !important;
  }
}

// =----------- traveling section --------------=
.traveling {
  @include container;
}

.traveling__content {
  @include flex-between(flex-start);
  padding-top: 200px;
}

.traveling__content_info {
  @include maxWidth(635);

  > h2 {
    margin-bottom: 24px;
  }

  > div {
    @include flex-start(flex-end);
    padding-top: 24px;
    margin-bottom: 24px;
    > span {
      font-weight: 800;
      font-size: 96px;
      line-height: 60%;
      color: var(--red);
    }
  }

  > p {
    margin-bottom: 60px;
  }
}

// =------------ country section ---------------=
.country {
  margin-top: 150px;
  @include container;
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin-inline: auto;
  padding: 20px 35px;
}


.country__content {
  @include flex-between(flex-start);
  padding-top: 24px;
}

.country__content_img {
  width: 100%;

  > span {
    margin-inline: auto !important;
  }

  > div {
    width: 584px;
    margin-inline: auto;
    > div {
      height: 10px;
      @include maxWidth(584);
      background: linear-gradient(93.51deg, #0B0B0B 30.79%, #D94343 30.79%, #E84747 47.77%, #E84A47 66.22%, #F8C02E 66.22%);;
    }
  }
}

.country__content_info {
  @include maxWidth(840);

  > h2 {
    margin-bottom: 40px;
  }

  > p {
    margin-bottom: 40px;
  }

  > ul {
    > li::marker {
      content: url("data:image/svg;charset=UTF-8, <svg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M10.1915 20.9023C10.7779 20.1863 11.2545 19.6148 11.7212 19.0366C14.1779 15.9894 16.6313 12.9405 19.0896 9.89325C20.896 7.65447 22.7058 5.41736 24.5188 3.18362C25.1722 2.37853 25.8175 1.56672 26.507 0.793563C26.9034 0.348159 27.3832 -0.00480257 28.0285 -0.00144103C28.5837 0.00192051 28.9195 0.291013 28.985 0.860794C29.08 1.68941 28.7557 2.40878 28.3462 3.06933C25.9354 6.96199 23.5099 10.8429 21.0794 14.7221C18.8848 18.2248 16.6771 21.7192 14.4727 25.2152C13.9109 26.106 13.3999 27.0405 12.7596 27.8674C11.6557 29.291 9.59049 29.3851 8.34906 28.0775C7.51543 27.1985 6.77025 26.2287 5.99067 25.2958C4.25463 23.2167 2.52023 21.1342 0.785835 19.0534C-0.17226 17.9038 -0.2607 16.2987 0.568012 15.1389C1.4262 13.9389 2.96734 13.5271 4.32997 14.1893C4.70011 14.3691 5.05059 14.6582 5.32246 14.9776C6.84395 16.7659 8.33923 18.5778 9.84107 20.3846C9.95243 20.5224 10.0425 20.6821 10.1915 20.9023Z' fill='#EB4436'/> </svg>");
    }

    > li {
      margin-bottom: 12px;
      font-weight: 600;
      font-size: 18px;
      line-height: 172.47%;
    }
  }
}

// =---------------- WHAT SAY SECTION -------------------=
.whatsay {
  @include container;
  margin-top: 180px;
  margin-bottom: 18px;
}

.whatsay__content {
  >h1 {
    text-align: center;
  }
}

.whatsay__content_country {
  margin-top: 32px;
}

// =-------------- LESSONS2 SECTION -------------------=
.lessons2 {
  @include container;
  padding-top: 150px;
}

.lessons2__content {
  @include flex-center;
  gap: 300px;
}

.lessons2__content_info {
  > h2 {
    margin-bottom: 12px;
  }

  > p {
    margin-bottom: 48px;
    @include maxWidth(456);
  }


  > button {
    @include btn_gray;
    @include maxWidth(487);
    margin-bottom: 20px;
  }

  > button:last-child {
    @include btn_primary;
    margin-top: 16px;
  }
}