@import "styles/mixins/mixins";

.pagination {
  @include flex-center(center);
  gap: 12px;
  margin-bottom: 48px;
  > button {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    border-radius: 50px;
    border: 2px solid var(--gray);
    color: var(--gray);
    padding: 8px 16px;
    background-color: transparent;
  }

  > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 210%;
    color: var(--gray);
  }
}

.current {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: var(--black) !important;
  background-color: var(--light-blue) !important;
  border: 2px solid var(--light-blue) !important;
}