// Colors
:root {
  --red: #E14545;
  --gray: #ADADAD;
  --gray-lighter: #F4F4F4;
  --black: #000000;
  --bg: #E5E5E5;


  // gradient
  --deutsh-gradient: linear-gradient(93.94deg, #0B0B0B 31.28%, #D94343 31.28%, #E84747 50.63%, #E84A47 68.67%, #F8C02E 68.7%);

  // shadows

  // others
  --transition-duraction: 200ms;

  --font-main: 'Montserrat';
}