@import "design_token";
@import "utils";
@import "mixins";

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main), sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
  transition: color 250ms ease;
}

ul, ol, dl {
  list-style: none;
}

h1,h2, h3, A, h5, h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 131.4%;
  color: var(--black);
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 175.9%;
  color: var(--black);
}

input {
  outline: none;
  width: 100%;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  background-color: var(--light-blue);
  color: var(--dark);
  line-height: 0;

  &::placeholder {
    color: var(--gray);
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  line-height: 1;
}


// scroll-bar
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 4px;
  cursor: pointer;
}
