@import "styles/mixins.scss";

.header {
  background-color: var(--white);
  z-index: 123;
  padding-block: 16px;
  position: fixed;
  inset: 0 0 auto 0;
}

.content {
  @include flex-between(center);
  @include container;
  gap: 100px;

  > button {
    @include btn_primary;
    padding-inline: 36px;
  }
}

.navbar {
  margin-right: auto;
  > ul {
    @include flex-between(center);
    gap: 74px;
  }
}

.navbar__link {
  font-weight: 600;
}