@import "styles/mixins.scss";

.header {
  @include flex-between(center);
  padding-block: 16px;
  gap: 100px;
  @include container;

  > button {
    @include btn_primary;
    padding-inline: 36px;
  }
}

.navbar {
  margin-right: auto;
  > ul {
    @include flex-between(center);
    gap: 74px;
  }
}