@import "styles/mixins/mixins";

.breadcrumbs {
  @include container;
  @include flex-start(center);
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;

  @media (max-width: 400px) {
    margin-top: 8px;
  }
}

.link {
  @include flex-start(center);
  > a {
    min-width: max-content;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    &:hover {
      color: var(--brand) !important;
    }
  }
}

.arrow {
  min-width: max-content;
  color: var(--brand);
  margin-left: 4px;
}

.current {
  min-width: max-content;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
}