@import "styles/mixins.scss";

.footer {
  padding-block: 150px;
}

.content {
  @include container;
  @include flex-between(center);
}

.logo {
  @include flex-start(flex-end);
}

.logo_svg {
  margin-bottom: -10px;
  margin-right: -10px;
}

.logo__text {
  > h3 {
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: var(--black);
  }

  > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
  }
}

.info {
  @include flex-between(center);
  gap: 53px;
}

.social {
  @include flex-between(center);
  gap: 24px;
}